package pages

templ Home() {
	<head>
		<link href="/assets/styles.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="text-3xl underline text-blue-500">Hello</div>
	</body>
}

templ NotFound() {
	<div>404</div>
}
