@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: .5rem;
    --delay: 500ms;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}


.typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid whitesmoke;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation:
    typewriter 4s steps(44) 1.5s 1 normal both,
    blinkTextCursor 1000ms steps(1) infinite normal;
}

.typewriter {
  transition:
    opacity 2s ease-out var(--delay);

  animation: translateIn 2s ease-out var(--delay);
}

.translate-in-2 {
  animation: translateIn 2s ease-out var(--delay);
}

.fade-in {
  transition:
    opacity 2s ease-out var(--delay);
}

.bg-grid {
  background:
    conic-gradient(from 90deg at 1px 1px, hsl(222.2 84% 4.9%) 90deg, hsl(217.2 32.6% 17.5%) 0) 0 0/40px 40px;
}

@starting-style {
  .typewriter {
    opacity: 0;
  }

  .fade-in {
    opacity: 0;
  }
}

@keyframes translateIn {
  0% {
    translate: -16px 0px;
  }

  100% {
    translate: 0px 0px;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  0% {
    border-right-color: rgba(255, 255, 255, .75);
  }

  50% {
    border-right-color: rgba(255, 255, 255, 0);
  }
}